<% include partials/header %>



<link rel="stylesheet" href="stylesheets/landing.css">

<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap" rel="stylesheet">

<div class="container const const1">
<p class="para" >Check Out The Recipes</p>
<a class="btn" href="/recipes">View All Recipes</a>
</div>

<div class="container const const2">
<p class="para" >Have a Recipe in mind?</p>
<a class="btn" href="/recipes/new">Add New Recipe</a>
</div>
<% include partials/footer %>